<div class="edit-panel">
    <div class="panel-wrapper">
        <div class="header mobile">
            <a href="/home">
                <img src="/static/img/logo_white.png" alt="TapGate Logo" />
            </a>
            <a href="/home">
                <h1>TapGate</h1>
            </a>
        </div>
        <div class="row">
            <h2 id="title"></h2>
        </div>
        <p class="subscript">
            Only fill in the fields that have to be changed!
        </p>

        <form action="/home" method="POST" id="form"></form>
    </div>
</div>