<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (min-width: 200px) and (max-width: 1000px)" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <!-- Set Page Title -->
        <title>TapGate | Account</title>
    </head>
    <body>
        <!-- Load Header -->
        <span id="header">{{ header|safe }}</span>

        <!-- Main -->
        <div class="page-wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <h1>Sections</h1>
                <p class="subscript">
                    Quickly navigate to a section of interest.
                </p>
                <hr />
                <ul>
                    <li><a href="#profile">Update profile</a></li>
                    <li><a href="#password">Change password</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="page-content">
                <h1>Account - {{ user.FirstName }} {{ user.LastName }}</h1>
                <p class="subscript">
                    Manage your personal info and security options here.
                </p>
                <hr />

                <div class="account-wrapper">
                    <p class="error hidden" id="error-message"></p>
                    <h2 id="profile">Update profile</h2>
                    <!-- Add js functionality -->
                    <form action="/account?action=profile" method="POST">
                        <label for="first-name">First name</label>
                        <input
                            type="text"
                            id="first-name"
                            name="first-name"
                            placeholder="{{ user.FirstName }}"
                        />
                        <label for="last-name">Last name</label>
                        <input
                            type="text"
                            id="last-name"
                            name="last-name"
                            placeholder="{{ user.LastName }}"
                        />
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="{{ user.Email }}"
                        />
                        <label for="password">Confirm password <b>*</b></label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            required
                        />
                        <button type="submit">Update profile</button>
                    </form>

                    <hr />
                    <h2 id="password">Change password</h2>
                    <!-- Add js functionality -->
                    <form action="/account?action=pass" method="POST">
                        <label for="current-password">Current password <b>*</b></label>
                        <input
                            type="password"
                            id="current-password"
                            name="current-password"
                            required
                        />
                        <label for="new-password">New password <b>*</b></label>
                        <input
                            type="password"
                            id="new-password"
                            name="new-password"
                            required
                        />
                        <label for="confirm-password"
                            >Confirm new password <b>*</b></label
                        >
                        <input
                            type="password"
                            id="confirm-password"
                            name="confirm-password"
                            required
                        />
                        <button type="submit">Change password</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Theme Toggle -->
        <span id="moon-toggle">{{ moon_toggle|safe }}</span>
        <span id="sun-toggle">{{ sun_toggle|safe }}</span>
        
        <!-- Load Footer -->
        <span id="footer">{{ footer|safe }}</span>
    </body>

    <script src="/static/js/loadTheme.js"></script>
    <script src="/static/js/handleError.js"></script>
</html>
