<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (min-width: 200px) and (max-width: 1000px)" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <!-- SocketIO CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
        <!-- Set Page Title -->
        <title>TapGate | Home</title>
    </head>
    <body>
        <!-- Load Header -->
        <span id="header">{{ header|safe }}</span>

        <!-- Main -->
        <div class="page-wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <h1>Sections</h1>
                <p class="subscript">
                    Quickly navigate to a section of interest.
                </p>
                <hr />
                <ul>
                    <li><a href="#keycards">Keycards</a></li>
                    <li><a href="#doors">Doors</a></li>
                    <li><a href="#scanners">Scanners</a></li>
                    <li><a href="#users">Users</a></li>
                    <li><a href="#groups">Groups</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="page-content">
                <h1>
                    Welcome back,
                    <b id="username">{{ name }}</b>!
                </h1>
                <p class="subscript">
                    Manage all entries with ease. Click on an entry to edit its values or delete it.
                </p>
                <p class="error hidden" id="error-message"></p>
                <hr />

                <h2 id="keycards">Keycards</h2>
                <div class="data-grid">
                    {% for keycard in keycards %}
                    <div
                        class="item"
                        id="keycard-{{ keycard.id }}"
                        onclick='openPanel("keycards", {{ keycard|tojson }})'
                    >
                        <h3 id="name">UID: {{ keycard.CardUID }}</h3>
                        <ul>
                            <li id="id">id: {{ keycard.id }}</li>
                            <li id="CardUID">CardUID: {{ keycard.CardUID }}</li>
                            <li id="UniquePass">UniquePass: {{ keycard.UniquePass }}</li>
                            <li id="User_id">User_id: {{ keycard.User_id }}</li>
                        </ul>
                    </div>
                    {% endfor %}

                    <div class="item" id="create" onclick='openPanel("keycards")'>
                        <svg
                            class="add-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="#ffffff"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <hr />

                <h2 id="doors">Doors</h2>
                <div class="data-grid">
                    {% for door in doors %}
                        <div
                            class="item {% if door.id == 1 %}hidden{% endif %}"
                            id="door-{{ door.id }}"
                            {% if door.id != 1 %}
                                onclick='openPanel("doors", {{ door|tojson }})'
                            {% endif %}
                        >
                            <h3 id="name">Name: {{ door.Name }}</h3>
                            <ul>
                                <li id="id">id: {{ door.id }}</li>
                                <li id="Name">Name: {{ door.Name }}</li>
                                <li id="Access">Access: {{ door.Access }}</li>
                                <li id="IP">IP: {{ door.IP }}</li>
                                <li id="Status">Status: {{ door.Status }}</li>
                            </ul>
                        </div>
                    {% endfor %}

                    <div class="item" id="create" onclick="openPanel('doors')">
                        <svg
                            class="add-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="#ffffff"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>

                <hr />
                <h2 id="scanners">Scanners</h2>
                <div class="data-grid">
                    {% for scanner in scanners %}
                        <div
                            class="item"
                            id="scanner-{{ scanner.id }}"
                            onclick='openPanel("scanners", {{ scanner|tojson }})'
                        >
                            <h3 id="name">Name: {{ scanner.Name }}</h3>
                            <ul>
                                <li id="id">id: {{ scanner.id }}</li>
                                <li id="Name">Name: {{ scanner.Name }}</li>
                                <li id="IP">IP: {{ scanner.IP }}</li>
                                <li id="Door_Id">Door_Id: {{ scanner.Door_Id }}</li>
                            </ul>
                        </div>
                    {% endfor %}

                    <div class="item" id="create" onclick='openPanel("scanners")'>
                        <svg
                            class="add-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="#ffffff"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <hr />

                <h2 id="users">Users</h2>
                <div class="data-grid">
                    {% for user in users %}
                    <div
                        class="item {% if user.id == 1 %}hidden{% endif %}"
                        id="user-{{ user.id }}"
                        {% if user.id != 1 %}
                            onclick='openPanel("users", {{ user|tojson }})'
                        {% endif %}
                    >
                        <h3 id="name">Name: {{ user.FirstName }} {{ user.LastName }}</h3>
                        <ul>
                            <li id="id">id: {{ user.id }}</li>
                            <li id="Email">Email: {{ user.Email }}</li>
                            <li id="FirstName">FirstName: {{ user.FirstName }}</li>
                            <li id="LastName">LastName: {{ user.LastName }}</li>
                            <li id="Group_id">Group_id: {{ user.Group_id }}</li>
                            <li id="door">Current_Door: {{ user.Current_Door }}</li>
                        </ul>
                    </div>
                    {% endfor %}

                    <div class="item" id="create" onclick='openPanel("users")'>
                        <svg
                            class="add-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="#ffffff"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <hr />

                <h2 id="groups">Groups</h2>
                <div class="data-grid">
                    {% for group in groups %}
                    <div
                        class="item {% if group.id == 1 %}hidden{% endif %}"
                        id="group-{{ group.id }}"
                        {% if group.id != 1 %}
                            onclick='openPanel("groups", {{ group|tojson }})'
                        {% endif %}
                    >
                        <h3 id="name">Name: {{ group.Groupname }}</h3>
                        <ul>
                            <li id="id">id: {{ group.id }}</li>
                            <li id="Groupname">Groupname: {{ group.Groupname }}</li>
                            <li id="Admin">Admin: {{ group.Admin }}</li>
                            <li id="Access">Access: {{ group.Access }}</li>
                        </ul>
                    </div>
                    {% endfor %}

                    <div class="item" id="create" onclick="openPanel('groups')">
                        <svg
                            class="add-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="#ffffff"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel Item -->
        <span id="edit-panel-loader" class="hidden">
            <div class="loader" style="width: 100px; height: 100px;"></div> 
        </span>
        <span id="edit-panel" class="hidden">
            {{ panel|safe }}
        </span>

        <!-- Theme Toggle -->
        <span id="moon-toggle">{{ moon_toggle|safe }}</span>
        <span id="sun-toggle">{{ sun_toggle|safe }}</span>
        
        <!-- Load Footer -->
        <span id="footer">{{ footer|safe }}</span>
    </body>

    <script src="/static/js/handleTheme.js"></script>
    <script src="/static/js/handleError.js"></script>
    <script src="/static/js/handlePanels.js"></script>
</html>
