<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (min-width: 200px) and (max-width: 1000px)" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <!-- Chart.js CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
        <!-- SocketIO CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
        <!-- Set Page Title -->
        <title>TapGate | Live Data</title>
    </head>
    <body>
        <!-- Load Header -->
        <span id="header">{{ header|safe }}</span>

        <!-- Main -->
        <div class="page-wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <h1>Sections</h1>
                <p class="subscript">
                    Quickly navigate to a section of interest.
                </p>
                <hr />
                <ul>
                    <li><a href="#doors">Doors</a></li>
                    <li><a href="#scanners">Scanners</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="page-content">
                <h1>Live Data</h1>
                <p class="subscript">
                    Real-time insights and trends at a glance. Everything updates dynamically.
                </p>
                <hr />

                <h1 id="doors">Doors</h1>
                <p class="subscript">View the state of each door and monitor the current users per door.</p>
                <div class="legend row">
                    <span class="legend-success">door open</span>
                    <span class="legend-error">door closed</span>
                    <span class="legend-warning">door unknown</span>
                </div>
                <div class="data-grid" id="doors">
                    {% for door in doors %}
                        <div class="item {{ door.Status }}" id="door-{{ door.id }}">
                            <h3>{{ door.Name }} (id: {{ door.id }})</h3>
                            <ul id="door-ul-{{ door.id }}">
                                {% for user in door.Users %}
                                    <li id="user-{{ user.id }}">{{ user.FirstName }} {{ user.LastName }} (id: {{ user.id }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                <hr />
                <h1 id="scanners">Scanners</h1>
                <p class="subscript">View the number of scans for the last 7 days. Only days with data are shown.</p>
                <div class="chart-container">
                    <canvas id="scanner-chart"></canvas>
                </div>
            </div>
        </div>

        <!-- Theme Toggle -->
        <span id="moon-toggle">{{ moon_toggle|safe }}</span>
        <span id="sun-toggle">{{ sun_toggle|safe }}</span>
        
        <!-- Load Footer -->
        <span id="footer">{{ footer|safe }}</span>
    </body>

    <script src="/static/js/handleTheme.js"></script>
    <!-- <script src="/static/js/placeholder-graphs.js"></script> -->
    <script src="/static/js/handleLiveData.js"></script>
    <script>
        const data = JSON.parse('{{ data | tojson }}')
        setData(data)
    </script>
</html>
