<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/styling/style.css" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
        <!-- Set Page Title -->
        <title>TapGate | Log</title>
    </head>
    <body>
        <!-- Load Header -->
        <span id="header"> </span>

        <!-- Main -->
        <div class="page-wrapper">
            <!-- Content -->
            <div class="page-content">
                <h1>Log</h1>
                <p class="subscript">Track actions and monitor changes.</p>
                <hr />
                <table class="log-table" id="log-table">
                    <tr>
                        <th>Event</th>
                        <th>Details</th>
                        <th>Time</th>
                    </tr>
                    <!-- Placeholder Data -->
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td>Details</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Theme Toggle -->
        <span id="moon-toggle"> </span>
        <span id="sun-toggle"> </span>
        
        <!-- Load Footer -->
        <span id="footer"> </span>
    </body>

    <script src="/js/loadElements.js"></script>
    <script src="/js/loadTheme.js"></script>
</html>
