<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (min-width: 200px) and (max-width: 1000px)" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <!-- Set Page Title -->
        <title>TapGate | Log</title>
    </head>
    <body>
        <!-- Load Header -->
        <span id="header">{{ header|safe }}</span>

        <!-- Main -->
        <div class="page-wrapper">
            <!-- Content -->
            <div class="page-content">
                <h1>Log - Page {{ info.page }} - {{ logs|length }} Items Displayed</h1>
                <p class="subscript">Track actions and monitor changes. Customize how many items are displayed.</p>
                <hr />
                <div class="log-selector">
                    <div>
                        <label for="page-selector">Page:</label>
                        <input type="number" value="{{ info.page }}" id="page-selector">
                    </div>
                    <div>
                        <label for="shown-selector">Max shown Items:</label>
                        <input type="number" value="{{ info.shown }}" id="shown-selector">
                    </div>
                    <div>
                        <label for="type-selector">Filter by Type:</label>
                        <select name="type-selector" id="type-selector">
                            <option value="All" {% if info.type == 'All'  %}selected{% endif %} >All</option>
                            {% for type in info.types %}
                                <option value="{{ type }}" {% if info.type == type %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="user-selector">Filter by User:</label>
                        <select name="user-selector" id="user-selector">
                            <option value="All" {% if info.user == 'All' %}selected{% endif %}>All</option>
                            {% for user in info.users %}
                                <option value="{{ user }}" {% if info.user == user %}selected{% endif %}>{{ user }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <table class="log-table" id="log-table">
                    <tr>
                        <th>Time (UTC)</th>
                        <th>Details</th>
                        <th>User</th>
                    </tr>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.Time }}</td>
                            <td>{{ log.Description }}</td>
                            <td>{{ log.User }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- Theme Toggle -->
        <span id="moon-toggle">{{ moon_toggle|safe }}</span>
        <span id="sun-toggle">{{ sun_toggle|safe }}</span>
        
        <!-- Load Footer -->
        <span id="footer">{{ footer|safe }}</span>
    </body>

    <script src="/static/js/loadTheme.js"></script>
    <script src="/static/js/handleLogs.js"></script>
</html>
